@charset "UTF-8";

@import url(./reset.css);

::selection {
  background-color: #ffb98b;
  color: #212529;
}

/*header*/
header {
  background-color: white;
  height: 73px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.inner {
  width: 1024px;
  padding: 16px 0;
  margin: 0 auto;
  display: flex;
}

.logo {
  margin-right: 39px;
}

.search-wrap {
  display: flex;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  height: 40px;
  padding: 0 16px;
  width: 400px;
  justify-content: space-between;
}

.fixed-search-input {
  font-size: 16px;
  border: 0;
  width: 100%;
}

.fixed-search-input::placeholder {
  color: #cacaca;
}

.header-search-button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.header-search-button img {
  width: 19px;
  vertical-align: middle;
}

.header-download {
  margin-left: auto;
  position: relative;
  width: 120px;
  text-align: center;
  margin-right: 10px;
}

.header-download summary {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #4d5159;
  font-family: "Noto Sans KR", sans-serif;
}

.header-download summary::marker {
  display: none;
  content: "";
}

.header-download[open] svg {
  transform: rotate(180deg);
}

.header-download svg {
  margin-left: 9px;
}

.download-list {
  position: absolute;
  border: 1px solid #868b94;
  padding: 24px;
  background: #f8f9fa;
  width: 200px;
  height: 114px;
  border-radius: 6px;
  top: 46px;
  right: 0;
}

.download-list a {
  color: #4d5159;
  text-decoration: none;
  font-weight: bold;
  display: flex;
}

.download-text {
  margin-left: 8px;
}

.download-list li:first-child {
  margin-bottom: 24px;
}

.chat-button {
  background-color: white;
  height: 40px;
  border: 1px solid #d1d3d8;
  border-radius: 6px;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  color: #4d5159;
}

.chat-button span {
  color: #ff7e36;
  font-size: 14px;
  margin-left: 2px;
}

/* section01 */
.section01 {
  background-color: #fbf7f2;
  padding-top: 73px;
  overflow: hidden;
}

.img {
  width: 804px;
  margin-right: -168px;
  margin-top: 83px;
}

.section01 .inner {
  align-items: center;
  padding-bottom: 0;
  height: 784px;
}

.text-box {
  flex: 1;
}

.text-box h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
  /* 행간 */
  letter-spacing: -0.4px;
  /* 자간 */
  margin-bottom: 32px;
}

.text-m {
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 16px;
}

/* section02 */
.section02 {
  background-color: white;
}

.section02 .inner {
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.home-main-image-01 {
  width: 532px;
}

.home-main-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 24px;
}

.section02 .buttons {
  margin-top: 32px;
}

.buttons .button {
  font-size: 18px;
  line-height: 1.47;
  letter-spacing: -0.3px;
  font-weight: 700;
  color: #212529;
  text-decoration: none;
  background-color: #f1f3f5;
  padding: 14.5px 26px;
  border-radius: 6px;
  display: inline-block;
}

.buttons .button:hover {
  background-color: #ececec;
}

.buttons .button:first-child {
  margin-right: 16px;
}

/* section03 */
.section03 {
  background-color: #e6f3e6;
  padding: 60px 0;
}

.img3 {
  width: 546px;
}

.section03 .inner {
  align-items: center;
  justify-content: space-between;
}

.home-main-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 24px;
}

.home-story-list {
  display: flex;
  margin-top: 40px;
}

.home-story-list-item {
  margin: 16px;
  margin-left: 0;
}

.home-story-list-item .text-s {
  margin: 16px 0 8px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.home-story-list-item .text-xs {
  font-size: 13px;
  line-height: 19.5px;
}

.home-story-list-item:nth-child(1)::before {
  background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-1-9226479b836cdc960291ffda91ace46c90a632f6cc868aa8983b3624e662a924.svg");
  content: "";
  display: inline-block;
  height: 56px;
  width: 56px;
}

.home-story-list-item:nth-child(2)::before {
  background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-2-208bb88cad31e335b40bc8ac5b7684dcf8a36d77ac50770a497a9c967a3bfc4f.svg");
  content: "";
  display: inline-block;
  height: 56px;
  width: 56px;
}

.home-story-list-item:nth-child(3)::before {
  background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-3-0a14d64c6101a7271655747d8401b9f71506578f8a4c0640608074e977bbc7c0.svg");
  content: "";
  display: inline-block;
  height: 56px;
  width: 56px;
}

/* section04 */
.section04 {
  background-color: white;
  padding: 60px 0;
}

.section04 .inner {
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.section04 .buttons {
  margin-top: 32px;
}

.img4 {
  width: 526px;
}

/* section05 */
.section05 {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.section05 .inner {
  flex-direction: column;
  padding: 0;
}

.home-used-title2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 24px;
  text-align: center;
  margin: 60px 0 80px;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-item {
  width: calc(25% - 44px);
  margin-right: 44px;
  margin-bottom: 56px;
}

.card-item:nth-child(4n) {
  margin-right: 0;
}

.card-img {
  width: 212px;
  height: 212px;
  border-radius: 12px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  margin-top: 12px;
  font-size: 16px;
  color: #212529;
  letter-spacing: -0.02px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 4px;
  line-height: 1.5;
}

.card-body {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}

.card-address {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 4px;
  line-height: 1.5;
}

.card-inner span {
  font-size: 13px;
  color: #868e96;
}

.card-inner span:first-of-type::after {
  content: " ∙";
}

.card-link {
  color: #212529;
}

.text-link,
.card-footer {
  text-align: center;
  text-decoration: underline;
  color: #212529;
  font-weight: 700;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 120px;
}

/* section06 */
.card-footer {
  margin: 0;
}

.section06 .inner {
  flex-direction: column;
  padding: 40px 0;
  text-align: center;
}

.footer-name {
  margin-left: 40px;
}

.keywords-name {
  text-decoration-line: none;
  color: #212529;
}

.keywords-list {
  display: inline-block;
  margin: 16px 32px 16px 16px;
}

.keywords-list:last-child {
  margin-right: 0;
}

.keywords-name:hover {
  text-decoration: underline;
}

/* footer */
.footer-box {
  background-color: #495057;
  padding: 80px 0;
}

.footer-container {
  width: 1024px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-top a {
  color: #adb5bd;
  display: block;
  margin: 16px;
}

.footer-top a:hover {
  text-decoration: underline;
}

.footer-top a strong {
  color: #fff;
  font-weight: 700;
}

.footer-container hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 32px 0 0 0;
}

.footer-t {
  margin-top: 32px;
}

.footer-e {
  font-size: 14px;
  color: #adb5bd;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
}

.footer-e a {
  color: #868e96;
}

.footer-e a:hover {
  text-decoration: underline;
}

.footer-m {
  margin-top: 16px;
  margin-bottom: 4px;
}

.list-item {
  margin-right: 8px;
  color: #868e96;
  font-size: 14px;
  display: inline-block;
}

.icon {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
}

.icon img {
  margin-right: 24px;
}

.icon img:last-of-type {
  padding-left: 26px;
  height: 24px;
  margin-right: 0;
}

.global-link {
  background-color: transparent;
  border: none;
  appearance: none;
  font-size: 16px;
  color: #adb5bd;
  text-decoration: underline;
  margin-left: 6px;
  align-items: center;
}

.copyright-text {
  font-size: 14px;
  color: #868e96;
  margin: 4px 0;
}
